<%- include('./includes/initial.ejs') %>

    <title>YourFriend!</title>
    <link rel="stylesheet" href="/css/body.css">
   


  </head>
  <body>
    
    <%- include('./includes/navigation.ejs') %>
    <div class="alert alert-info" style="width:90%; margin:auto; text-align: center;" role="alert">
       <h3>Democracy</h3>
      </div>
      <br><br><br>
      <form>
        <div style="width:70%; height: 300px; overflow-y:auto " class="input-group">
            <div  class="input-group-prepend">
              <span class="input-group-text">My Opinion</span>
            </div>
            <textarea style="resize:none; " class="form-control"  aria-label="With textarea"></textarea>
          </div>
          <button style="float:right; position: relative; bottom:50px; right:25%" type="button" class="btn btn-primary">Submit </button>
      </form>
      <br><br><br><br><br><br>
      <div class="jumbotron jumbotron-fluid" style="width:60%; overflow-y: auto; float:right; height:400px">
        <div class="container" >
          <h1 class="display-4">Prerna Singh</h1>
          <img style="height:250px; width:250px; float:right; position:relative; top:-135px" src="https://cdn1.vectorstock.com/i/1000x1000/79/30/business-man-cartoon-character-young-handsome-vector-14427930.jpg" >
          <p class="lead">My Opinion</p>
        </div>
      </div>
      



      <%- include('./includes/end.ejs') %>   