<%- include('./includes/initial.ejs') %>

    <title>YourFriend!</title>
    <link rel="stylesheet" href="/css/body.css">
   


  </head>
  <body>
    
    <%- include('./includes/navigation.ejs') %>
    <div class="alert alert-info" style="width:50%; margin:auto; text-align: center;" role="alert">
       <h1>Debates & Discussions</h1>
      </div>
      <br><br><br>
      <div class="jumbotron">
        <h1 class="display-4">Democracy</h1>
        <p class="lead">For the people, By the people</p>
        <hr class="my-4">
        <p>Lets Discuss this interesting topic!!</p>
        <a class="btn btn-primary btn-lg" href="/debates" role="button">Open this debate</a>
      </div>
      <br>
      <div class="jumbotron">
        <h1 class="display-4">Journalism</h1>
        <p class="lead">What do you feel about journalism?</p>
        <hr class="my-4">
Gather your thoughts! Lets Have this Discussion        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>



    <%- include('./includes/end.ejs') %>