<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">

    <!--stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css"/>
        
    <title>Mini Games</title>
    <style>
        body {
    background-image: url("game.jpeg")
}
    </style>
</head>

<body>
    <%- include('./includes/navigation.ejs') %>
    <br>

    <div class="container">
       
        <div class="container">
            <div class="row">
                <div class="col">
                   
                </div>
                <div class="col">
                    <h1>Fun Starts Here</h1>
                </div>
                <div class="col">
                   
                </div>
            </div>
        </div>

    </div>
    <br>

    

    <!--Game cards-->
    <div class="container">
    <div class="card-deck">
        <div class="card border-danger mb-3">
            <iframe src='https://www.embed.com/app/arcade/invaders.html' scrolling='no' frameBorder='0'></iframe>
          <div class="card-body">
            <h6 class="card-title">SPACE INVADERS</h6>
            <a href="https://www.embed.com/app/arcade/invaders.html" class="btn btn-outline-danger btn-sm">PLAY</a>
          </div>
        </div>

        <div class="container">
        <div class="card-deck">
          <div class="card border-danger mb-3">
          <iframe src='https://www.embed.com/app/arcade/asteroids.html' scrolling='no' frameBorder='0'></iframe>
          <div class="card-body">
            <h6 class="card-title">ASTERIODS</h6>
            <a href="https://www.embed.com/app/arcade/asteroids.html" class="btn btn-outline-danger btn-sm">PLAY</a>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card-deck">
          <div class="card border-danger mb-3">
            <iframe src="https://www.addictinggames.com/embed/html5-games/19666" scrolling="no" frameBoder='0'></iframe>
          <div class="card-body">
            <h6 class="card-title">CONNECTION</h6>
            <a href="https://www.addictinggames.com/embed/html5-games/19666" class="btn btn-outline-danger btn-sm">PLAY</a>
          </div>
        </div>
      </div>
      <br>

      <div class="container">
      <div class="card-deck">
          <div class="card border-danger mb-3">
            <iframe src='https://www.embed.com/app/solitaire/gaps.html' scrolling='no' frameBorder='0'></iframe>
          <div class="card-body">
            <h6 class="card-title">SOLITAIRE</h6>
            <a href="https://www.embed.com/app/solitaire/gaps.html" class="btn btn-outline-danger btn-sm">PLAY</a>
          </div>
        </div>
      </div>

        <div class="container">
        <div class="card-deck">
          <div class="card border-danger mb-3">
            <iframe src='https://www.embed.com/app/typing-game/' scrolling='no' frameBorder='0'></iframe>
          <div class="card-body">
            <h6 class="card-title">TYPING GAME</h6>
            <a href="https://www.embed.com/app/typing-game/" class="btn btn-outline-danger btn-sm">PLAY</a>
          </div>
        </div>

        <div class="container">
          <div class="card-deck">
        <div class="card border-danger mb-3">
            <iframe src='https://www.embed.com/app/reversi/' scrolling='no' frameBorder='0'></iframe>
          <div class="card-body">
            <h6 class="card-title">REVERSI</h6>
            <a href="https://www.embed.com/app/reversi/" class="btn btn-outline-danger btn-sm">PLAY</a>
          </div>
        </div>
      </div>
      
      <div class="container">
      <div class="card-deck">
        <div class="card border-danger mb-3">
          <iframe src='https://www.embed.com/app/card-games/spades.html' scrolling='no' frameBorder='0'></iframe>
          <div class="card-body">
            <h6 class="card-title">SPADES</h6>
            <a href="https://www.embed.com/app/card-games/spades.html" class="btn btn-outline-danger btn-sm">PLAY</a>            
          </div>
        </div>

        <div class="container">
          <div class="card-deck">
         <div class="card border-danger mb-3">
            <iframe src='https://www.embed.com/app/mahjong/standard/index.html' scrolling='no' frameBorder='0'></iframe>
          <div class="card-body">
            <h6 class="card-title">MAHJONG</h6>
            <a href="https://www.embed.com/app/mahjong/standard/index.html" class="btn btn-outline-danger btn-sm">PLAY</a> 
          </div>
        </div>

        <div class="container">
          <div class="card-deck">
        <div class="card border-danger mb-3">
          <iframe src='https://www.embed.com/app/math-game/'scrolling='no' frameBorder='0'></iframe>
          <div class="card-body">
            <h6 class="card-title">MATH GAME</h6>
            <a href="https://www.embed.com/app/math-game/" class="btn btn-outline-danger btn-sm">PLAY</a> 
          </div>
        </div>
      </div>


    </div>
    <br>


    
   

  
    <%- include('./includes/end.ejs') %>