<%- include('./includes/initial.ejs') %>

    <title>YourFriend!</title>
    <link rel="stylesheet" href="/css/body.css">
   
  </head>

    
    <%- include('./includes/navigation.ejs') %>
      
  
    <div class="flex-container" >
        <aside class="aside aside1" aria-label="Left"></aside>
        <article class="main">
            <img src="header.jpg" alt="Pacman" width="100%" height="200">
            <br><br><br><div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Why GameOver?</h1>
                  <p class="lead"> In this pandemic, where people are getting stressed out and bored
                      by being at home, we have brought you a whole package so as to connect with friends,
                      learn, vent out, discuss, play games and chat.!! 
                  </p>
                </div>
              </div>
<br><br><br>

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-sm" style="text-align: center;";>
                            <img class="landingpageIconSection" src="gameicon.png" alt="gameicon" height="75px" height="75px">
                            <p>Games</p>
                            <p>Come and play our awesome games!
                            I'm sure you will enjoy them!
                            </p>
                        </div>
                        <div class="col-sm" style="text-align: center;";>
                            <img class="landingpageIconSection" src="chaticon.png" alt="chaticon" height="75px" height="75px">
                            <p>Chat</p>
                            <p>Come and say hi on our chat!
                            I'm sure you will make a few friends.
                            </p>
                        </div>
                        <div class="col-sm" style="text-align: center;";>
                            <img class="landingpageIconSection" src="forumicon.png" alt="forumicon" height="75px" height="75px">
                            <p>Discussion</p>
                            <p>Want to discuss the meaning of life
                            or simply vent a little? Check out our
                            discusion board!
                            </p>
                        </div>
                        <div class="col-sm" style="text-align: center;";>
                            <img class="landingpageIconSection" src="blogicon.png" alt="blogicon" height="75px" height="75px">
                            <p>Blog</p>
                            <p>Want to learn something new? Want to see what is going on in other people's lives? Check our blog!
                            </p>
                        </div>
                    </div>
                  </div>
            </div>
            <br><br><br>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-6">Meet the Team:</h1><br>
                    <div class="row">
                        <div class="col-sm" style="text-align: center;";>
                            <img class="landingpageIconSection" src="preprofilepic.png" alt="preprofilepic" height="75px" height="75px">
                            <p>Prerna Singh</p>
                            <p>Short Description of Prerna</p>
                        </div>
                        <div class="col-sm" style="text-align: center;";>
                            <img class="landingpageIconSection" src="wjprofilepic.png" alt="wjprofilepic" height="75px" height="75px">
                            <p>Jalen Veiga</p>
                            <p>Short Description of Whalenjalen</p>
                        </div>
                        <div class="col-sm" style="text-align: center;";>
                            <img class="landingpageIconSection" src="forumicon.png" alt="forumicon" height="75px" height="75px">
                            <p>Sejal Nathu-Hari</p>
                            <p>Short Description of Sejalnh</p>
                        </div>
                        <div class="col-sm" style="text-align: center;";>
                            <img class="landingpageIconSection" src="oaprofilepic.png" alt="OAprofilepic" height="75px" height="75px">
                            <p>Oreste Arredondo</p>
                            <p>Passionate Gamer that loves solving puzzles!</p>
                        </div>
                    </div>
                  </div>
            </div>
        </article>
        <aside class="aside aside2" aria-label="Right"></aside>
    </div>

 <%- include('./includes/end.ejs') %>